#intro,#tech-skills {
  padding:10% 0 0 0 ;
}

.container {
  position: relative;
  text-align: center;
  color: white;
}
h1 {
  text-align: left;
  font-size: 6vW;
}
h1,h4,h5,.my-skill{
  font-style: italic;
}
h4 {
  text-align: left;
  font-size: 2vW;
}
h5 {
  font-size:1vw;
  text-align: left;
}
.border-radius-tech-div{
  padding: 1px;
  border-radius: 50px 20px;
}
.hero-skills{
  padding:8% 0 0 0 ;
}
#my-skill {
  font-size:3vw;
}
p{
  font-size:1vw;
}
span {
  font-size:2vw;
  text-align: left;
  font-style: italic;
}
.about-me{
  font-size:2vw;
  font-family: 'Times New Roman', Times, serif;
}
h3 {
  font-size:3vw;
  font-family: 'Times New Roman', Times, serif;
}