<!-- <div class="hero-container img-fluid">
<p>Hi, I am Ranjith :) -</p>
</div> -->
<section id="intro">
    <div class=" d-flex p-4">
        <div class="container">
            <h1>Hi, I'm</h1>
            <h1>Ranjith :)</h1>
            <h4>UI/UX Designer & Deveoper</h4>
            <h5>"I'm a front-end developer with over 3.5 years of experience</h5>
            <h5>and developed over 10+ web applications to date."</h5>
        </div>
        <div class="container">
            <img width="100%" src="../assets/images/hero-intro.svg" alt="...">
        </div>
        <!-- </div> -->
    </div>
</section>
<section id="my-skill">
    <div class="d-flex justify-content-center my-skill">
        <div>
            <i class="bi bi-arrow-90deg-down bi-lg"></i>
        </div>
        <div><b>About me</b></div>
    </div>
</section>
<section id="about-intro">
    <div class="d-flex p-4">
        <div class="row">
            <div class="col">
                <div class="container">
                    <h3>Ranjith Vasudevan</h3>
                </div>
                <p class="about-me">Hi, I’m Ranjith from Chennai (INDIA) ,I have 3 years of IT experience working in a corporate environment as a Front End UI/Web Applications developer. Have strong technical skills in complex website development.</p>
                <p class="about-me">Experience in developing highly interactive web applications utilizing Angular, NGRX, JSON, Bootstrap and integrating Restful API’S</p>
            </div>
            <div class="container col">
                <img width="100%" src="./assets/images/about.png" alt="...">
            </div>
        </div>
        <!-- </div> -->
    </div>
</section>
<section id="my-skill">
    <div class="container p-4">
        <div class="row my-skill">
            <i class="bi bi-caret-down-fill bi-lg"></i>
            <b>My Skills /-</b>
        </div>
    </div>
</section>
<section id="tech-skills pr-4">
<div class="d-flex bd-highlight">
    <div class="container hero-skills p-4">
        <img width="100%" src="./assets/images/hero-tech-skills.svg" alt="...">
    </div>
    <div class="container tech-skills-div border-radius-tech-div">
        <div class="row">
            <div class="col-4">
                <img width="55%" src="https://angular.io/assets/images/logos/angular/angular.svg" class="img-responsive"
                    alt="...">
                <P><b>ANGULAR</b></P>
            </div>
            <div class="col-4">
                <img width="54%" src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/b2/Bootstrap_logo.svg/1280px-Bootstrap_logo.svg.png" class="img-responsive"
                    alt="...">
                <br>
                <P><b>BOOTSTRAP</b></P>
            </div>
            <div class="col-4">
                <img width="50%" src="https://cdn.worldvectorlogo.com/logos/nodejs-2.svg" class="img-responsive"
                    alt="...">
                <P><b>NODE.JS</b></P>
            </div>
        </div>
        <div class="row pt-4">
            <div class="col-4"><img width="50%" src="https://ngrx.io/assets/images/badge.svg" class="img-responsive" alt="...">
                <P><b>NGRX</b></P>
            </div>
            <div class="col-4"><img width="50%" src="https://www.chartjs.org/img/chartjs-logo.svg" class="img-responsive"
                    alt="...">
                <P><b>CHART.JS</b></P>
            </div>
            <div class="col-4"><img width="50%"
                    src="https://upload.wikimedia.org/wikipedia/commons/6/61/HTML5_logo_and_wordmark.svg" class="img-responsive"
                    alt="...">
                <P><b>HTML5</b></P>
            </div>
        </div>
        <div class="row pt-4">
            <div class="col-4"><img width="50%" src="./assets/images/css.png" class="img-responsive" alt="...">
                <P><b>CSS3</b></P>
            </div>
            <div class="col-4">
            </div>
            <div class="col-4">
            </div>
        </div>
    </div>
</div>
</section>
<section id="intro">
    <div class=" d-flex p-4">
        <div class="container">
            <div class="row my-skill">
            </div>
        </div>
        <div class="row my-skill">
            <img width="100%" src="./assets/images/end-intro.svg" alt="...">
            <P><b>To be continued..</b></P>
        </div>
    </div>
</section>